<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout2}">

<head>
    <title>테스트 페이지</title>

    <!-- 페이지별 css -->
    <th:block layout:fragment="css">
        <!-- 개별 css 파일에서 불러올 경우 -->
        <link rel="stylesheet" th:href="@{/css/chat/chatroomList.css}">
        <!-- 인라인 스타일로 작성할 경우 -->
    </th:block>

</head>
<body>
<!-- 페이지 내용 -->
<div layout:fragment="content">
    <div class="d-flex justify-content-between align-items-center my-3">
        <h2>채팅방 목록</h2>
        <a href="/chatroom/form" class="btn btn-success">채팅방 생성</a>
    </div>
    <div class="toggle-buttons">
        <a href="#" class="btn btn-openchat active">오픈채팅</a>
        <div class="toggle-divider"></div>
        <a href="#" class="btn btn-mychat">나의 채팅방</a>
    </div>
    <div class="chatroom-list"></div> <!-- AJAX로 가져온 채팅방 리스트를 여기에 추가 -->

    <!-- 채팅방 상세 모달 -->
    <div class="modal fade" id="chatroomModal" tabindex="-1" aria-labelledby="chatroomModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="chatroomModalLabel">채팅방 상세정보</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div><strong>채팅방 이름:</strong> <span>테스트 채팅방</span></div>
                    <div><strong>인원:</strong> <span>10 / 20</span></div>
                    <div><strong>상세설명:</strong> <span>이곳은 테스트용 채팅방입니다.</span></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
                    <a href="#" class="btn btn-primary btn-enter-chat">입장</a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- 페이지별 JavaScript -->
<th:block layout:fragment="script">

    <!-- 개별 js 파일에서 불러올 경우 -->
    <script th:src="@{/js/chat/chatroomList.js}"></script>

    <script th:inline="javascript">
        let userId=[[${userId}]];
    </script>
</th:block>
</body>

</html>
