<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div >
    <input style="font-size: 12px" type="text" class="userId">
    <button class="btn btn-success" style="font-size: 12px">채팅리스트</button>
</div>
<script>
    document.querySelector(".btn").addEventListener("click", function (){
        let userId = document.querySelector(".userId").value;
        console.log("userId : " +userId);
        let url = "http://localhost:8080/chatroom/list/"+userId;
        location.href= url;
    });
</script>
</body>
</html>