<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout2}" >

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>502 study</title>
    
    <!-- 페이지별 css -->
    <th:block layout:fragment="css">
        <link rel="stylesheet" th:href="@{/css/friendpage/friendpage.css}">
    </th:block>
    
</head>
<body>
<div layout:fragment="content">
	<div class="header">
	    <i class="bi bi-arrow-left back-btn"></i>
	    <h3 class="header-title" th:text="${user.nickname} + '님의 친구'" style="color: #000;"></h3>
    </div>
	<div class="content-container">
		<div class="search-container">
			<div class="search-wrapper">
				<svg xmlns="http://www.w3.org/2000/svg" width="1.7rem" height="1.7rem" fill="#838383" class="bi bi-search" viewBox="0 0 16 16">
	                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0" />
	            </svg>
				<input type="text" placeholder="친구 검색" oninput="searchFriendByNickname()" />
			</div>
			<a th:href="@{/friendrequestpage}" class="plus" th:classappend="${currentPage == 'friends'} ? 'active' : ''"> 
				<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" fill="currentColor" width="2rem" height="2rem">
					<circle cx="16" cy="16" r="16" fill="#005667" />
					<path d="M16 8v16 M8 16h16" stroke="white" stroke-width="4" stroke-linecap="round" />
					<circle cx="28" cy="28" r="4" fill="#FB7861" />
	            </svg>
			</a>
		</div>

		<div class="list-container">
			<th:block th:each="friend : ${friends}">
				<div class="friend-wrapper" id="friend-item" th:data-user-id="${friend.id}">
					<img th:src="${friend.profileImage != null && friend.profileImage != '' ? friend.profileImage : '/images/default-profile.jpg'}"
						 th:alt="${friend.nickname}"
						 onerror="this.src='/images/default-profile.jpg'">
                    <div class="profile">
                    	<div th:text="${friend.nickname}" class="name"></div>
                    	<div th:text="${friend.myIntro != null ? friend.myIntro : '자기소개가 없습니다.'}" class="intro"></div>
                    </div>
				</div>
			</th:block>
		</div>
	</div>
</div>
<!-- JavaScript -->
<th:block layout:fragment="script">
    <script th:src="@{/js/friendpage/friendpage.js}"></script>
</th:block>
</body>
</html>
