@charset "UTF-8";

.profile-container {
	padding: 20px;
	max-width: 800px;
	margin: 0 auto;
}

/*뒤로가기 버튼 + 제목 */
.profile-header {
	padding: 2rem;
	display: flex;
	align-items: center;
}

.back-btn {
	font-size: 1.8rem;
	margin-right: 1rem;
}

.profile-title {
	display: inline-block;
	padding-top: 0.7rem;
	font-size: 1.5rem;
}

.profile-content {
	display: flex;
	margin-bottom: 0.5rem;
}

.my-profile-image {
	width: 6.5rem;
	height: 6.5rem;
	border-radius: 50%;
	object-fit: cover;
	margin-right: 20px;
}

.profile-info {
	flex-grow: 1;
}

.profile-name, .info {
	font-size: 1rem;
	font-weight: bold;
	margin-bottom: 10px;
}

.user_intro h6 {
	font-size: 1rem;
	font-weight: bold;
	margin-bottom: 10px;
}

.profile-stats {
	display: flex;
	gap: 20px;
	justify-content: center;
	align-items: center;
}

.stat-item {
	text-align: center;
	font-size: 2rem;
	width: 4rem; /* 프로필 사진과 동일한 크기 */
	height: 6rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.stat-number {
	font-size: 1.8rem; /* 숫자 크기 키우기 */
	font-weight: bold;
}

.stat-label {
	font-size: 1.2rem; /* 라벨 크기 키우기 */
	color: #666;
}

.box {
	display: flex;
	padding-top: 1.5rem;
}

/*상단 뱃지*/
.box-title1 {
	width: 8rem;
	height: 2rem;
	border-radius: 20px;
	border: 1px solid #8AA7AF;
	background-color: #fff;
	text-align: center;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: center;
}

.box-title1 h6 {
	margin: 0;
	line-height: 1.7rem;
}

.box-title2 {
	width: 8rem;
	height: 2rem;
	border-radius: 20px;
	border: 1px solid #8AA7AF;
	background-color: #D7E1E4;
	text-align: center;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: center;
}

.box-title2 h6 {
	margin: 0;
	line-height: 1.7rem;
}

/*뱃지 리스트*/
.badge-container {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
	gap: 20px;
	padding: 10px;
	margin-bottom: 2rem;
}

.badge {
	margin: 1rem;
}

.badge-item {
	text-align: center;
	padding: 15px;
	border: 1px solid #ddd;
	border-radius: 10px;
	background-color: #fff;
	transition: transform 0.2s;
}

.badge-item:hover {
	transform: translateY(-5px);
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.badge-image {
	width: 100px;
	height: 100px;
	object-fit: contain;
	margin-bottom: 10px;
}

.badge-item.not-achieved {
	opacity: 0.5;
}

.badge-name {
	font-size: 1.1rem;
	margin-bottom: 5px;
	color: #005666;
}

.badge-content {
	font-size: 0.9rem;
	color: #666;
}

.progress-container {
	margin-top: 10px;
}

.progress {
	height: 10px;
	border-radius: 5px;
	background-color: #e9ecef;
}

.progress-bar {
	background-color: #005666;
}