<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">

<head>
    <title>테스트 페이지</title>
    
    <!-- 페이지별 css -->
    <th:block layout:fragment="css">
        <style>
           
        </style>
    </th:block>
</head>
<body>
<!-- 페이지 내용 -->
<div layout:fragment="content">




</div>

<!-- 페이지별 JavaScript -->
<th:block layout:fragment="script">
    
 
 
 
</th:block>
</body>

</html>