@charset "UTF-8";

* {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
		Helvetica, Arial, sans-serif;
	box-sizing: border-box;
}

.login-container {
	width: 25.75rem;
	height: 52rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #fff;
	justify-self: center;
}

.comment {
	font-size: 2.5rem;
	font-weight: bold;
	margin-bottom: 1.5rem;
}

.input-field {
	width: 18rem;
	height: 3rem;
	padding: 0.5rem 1rem;
	font-size: 1rem;
	color: #767676;
	border-radius: 1rem;
	border: 1px solid #ddd;
	outline: none;
	margin-top: 1rem;
	background-color: #EDEDED;
}

.btn-signup {
	display: block;
	width: 18rem;
	height: 2.5rem;
	line-height: 2.5rem;
	font-size: 1.3rem;
	text-align: center;
	text-decoration: none;
	border: none;
	border-radius: 2rem;
	background-color: #005666;
	color: white;
	cursor: pointer;
	margin-bottom: 1rem;
	margin-top : 1.5rem;
}

.btn-back {
	display: inline-block;
	width: 18rem;
	height: 4rem;
	line-height: 4rem;
	font-size: 1.25rem;
	text-align: center;
	text-decoration: none;
	border-radius: 2rem;
	background-color: #005666;
	color: white;
	cursor: pointer;
	margin-bottom: 1rem;
}
