@charset "UTF-8";

* {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
		Helvetica, Arial, sans-serif;
	padding: 0;
	gap: 0;
	margin: 0;
}

.content-container {
	padding-top : 6rem;
	width: 25.75rem;
	height: 47.626rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	justify-self: center;
}

.search-container {
	width: 21.5rem;
	height: 4rem;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 1rem;
}

.search-wrapper {
	width: 18rem;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	justify-self: center;
	align-items: center;
}

.search-wrapper input {
	width: 14rem;
	height: 2rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #EDEDED;
	font-size: 1rem;
	padding-left: 1rem;
	border-radius: 0.5rem;
	border: none;
	outline: none;
	box-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.25);
}

.plus:active {
	background: none;
}

.list-container {
	width: 22.5rem;
	height: 40rem;
	border-top: 2px solid #005667;
	border-bottom: 2px solid #005667;
	overflow-y: auto;
	scrollbar-width: none;
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: center;
}

.friend-wrapper {
	width: 22rem;
	background-color: #fff;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	border: none;
	border-bottom: 2px solid #D7E1E4;
	padding: 0.5rem 1rem;
}

.friend-wrapper img {
	width: 4rem;
	height: 4rem;
	border-radius: 4rem;
}

.friend-wrapper .profile {
	width: 14rem;
	display: flex;
	flex-direction: column;
	justify-content: left;
	margin-right: 1rem;
}

.profile .name {
	font-size: 1rem;
	font-weight: bold;
	margin-bottom: 0.5rem;
	text-wrap: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.profile .intro {
	font-size: 0.75rem;
	font-weight: bold;
	color: #6D6D6D;
	text-wrap: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.friend-wrapper .btn-message {
	width: 4rem;
	height: 2.25rem;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	background-color: #005667;
	color: #fff;
	border: none;
	border-radius: 0.5rem;
}

.back-btn {
	display: flex;
	align-items: center;
	margin-bottom: 20px;
	z-index: 1000;
	position: fixed;
    top: 0;
    left: 0;
    padding-left : 2rem;
    height: 70px;	
    font-size : 24px;
    cursor : pointer;
    padding-top : 0.4rem;
}
