<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">

<head>
    <title>테스트 페이지</title>
    
    <!-- 페이지별 css -->
    <th:block layout:fragment="css">
        <!-- 개별 css 파일에서 불러올 경우 -->
        <link rel="stylesheet" th:href="@{/css/test.css}">
        
        <!-- 인라인 스타일로 작성할 경우 -->
        <style>
            #testBtn1 {
                background-color: #007bff;
            }
        </style>
    </th:block>

</head>
<body>
<!-- 페이지 내용 -->
<div layout:fragment="content">
    <h5>테스트</h5>
    <p>안녕하세요</p>
    
    <button id="testBtn1">클릭</button>
    <div id="test1"></div>
</div>

<!-- 페이지별 JavaScript -->
<th:block layout:fragment="script">
    
    <!-- 개별 js 파일에서 불러올 경우 -->
    <script th:src="@{/js/test.js}"></script>
    
    <!-- 인라인 스타일로 작성할 경우 -->
    <script>
        document.getElementById("testBtn1").addEventListener('click', function() {
            // 버튼 클릭시 test1에 내용 추가
            document.getElementById("test1").innerHTML += "<p>안녕히가세요</p><br><br>";
        });
    </script>
    
</th:block>
</body>

</html>