<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}" >

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>502 study</title>
    
    <!-- 페이지별 css -->
    <th:block layout:fragment="css">
        <link rel="stylesheet" th:href="@{/css/loginpage/signuppage.css}">
    </th:block>
    
</head>
<body>
<div layout:fragment="content">
	<div class="login-container">
		<div class="comment">회원가입</div>
		<div class="mb-3">
			<input type="nickname" class="input-field" id="nickname" placeholder="닉네임" required>
		</div>
		<div class="mb-3">
			<input type="email" class="input-field" id="email" placeholder="이메일" required>
		</div>
		<div class="mb-3">
			<input type="password" class="input-field" id="password" placeholder="비밀번호" required>
		</div>
		<button type="button" class="btn btn-primary btn-signup">회원가입</button>
	</div>		
</div>
<!-- JavaScript -->
<th:block layout:fragment="script">
    <script th:src="@{/js/loginpage/signuppage.js}"></script>
</th:block>
</body>
</html>
